server:
  port: 8080

springdoc:
  swagger-ui:
    enabled: false

spring:
  application:
    name: Resto Backend

  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: true

  datasource:
    url: jdbc:h2:mem:restodb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

  jackson:
    property-naming-strategy: SNAKE_CASE
    default-property-inclusion: non_empty

jwt:
  secret: "THIS_IS_A_VERY_LONG_AND_SECURE_SECRET_KEY_AT_LEAST_256_BITS_LONG"
  access-token-expiration-ms: 900000      # 15 minutes
  refresh-token-expiration-ms: 604800000  # 7 days


